<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="Logs/internal-nlog.log"
      throwConfigExceptions="true">

    <!-- Define various log targets where logs will be written -->
    <targets>
        <target xsi:type="File"
                name="file"
                fileName="Logs/all-${shortdate}.log"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}" />

        <target xsi:type="Console"
                name="console"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}" />
    </targets>

    <!-- Define logging rules to control which logs go to which targets. Define Rules for Each Target -->
    <rules>
        <!-- 
        Filter out logs from
        -->
        <logger name="Microsoft.AspNetCore.Diagnostics*" minlevel="Error" writeTo="file" />
        <logger name="Microsoft.*" maxlevel="Info" final="true" />

        <!-- 
        Send all logs with level Information or higher to the file target
        name="*": Apply this rule to all loggers or you can say all namespaces
        minlevel="Information": Minimum log level is Information
        writeTo="file": Send matching logs to the "file" target
        -->
        <logger name="*"
                minlevel="Information"
                writeTo="file" />

        <!-- 
        Send all logs with level Debug or higher to the console target
        name="*": Apply this rule to all loggers or you can say all namespaces
        minlevel="Debug": Minimum log level is Debug
        writeTo="console": Send matching logs to the "console" target
        -->
        <logger name="*"
                minlevel="Information"
                writeTo="console" />
    </rules>
</nlog>